TODO: 
самые популярные товары в каждой из категорий
самые популярные категории у каждого из людей

для каждого человека берём 10 самых популярных его категорий, в зависимости от популярности каждой из категорий, сэплим топ50. т.е. из каждой категории берем 50 * %этой категории среди выбранных/ 100

## Imports

In [80]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm_notebook as tqdm

In [ ]:
generated_df = pd.read_csv("data/merged_data.csv", index_col=0)

## Read files

In [4]:
submission_df = pd.read_csv("data/sample_submission.csv")
test_user_ids = submission_df.Id
# submission_df.head()

In [6]:
len(test_user_ids)

107068

In [22]:
len(submission_df), submission_df["Id"].nunique()

(107068, 107068)

# Merge table

In [193]:
most_popular = generated_df.product_id.value_counts()[1:51].index # remove 0 from most_popular
most_popular = [str(i) for i in most_popular]

In [197]:
most_popular_by_parent_cat = generated_df.groupby(["parent_category_id"]).agg({'count':sum})

In [211]:
# get most popular items in each category
df_agg_pcat_prod = generated_df.groupby(["parent_category_id", "product_id"]).agg({'count':sum})
g_pcat_prod = df_agg_pcat_prod['count'].groupby(level=0, group_keys=False)
grouped_by_pcat_prod = g_pcat_prod.nlargest(50)
# grouped_by_pcat_prod = grouped_by_pcat_prod.reset_index()

In [220]:
grouped_by_pcat_prod #.loc[2100010001]

parent_category_id  product_id
0                   0             210347
                    5571329           44
                    5574390           33
                    5578927           28
                    5576350           25
                                   ...
2100010001          5474980           17
                    5474979           16
                    7042821           10
                    5474978            9
                    6591956            6
Name: count, Length: 4432, dtype: int64

In [202]:
# get most popular categories for each user
df_agg_pcat = generated_df.groupby(["user_id", "parent_category_id"]).agg({'count':sum})
g_pcat = df_agg_pcat['count'].groupby(level=0, group_keys=False)
grouped_by_pcat = g_pcat.nlargest(50)
grouped_by_pcat = grouped_by_pcat.reset_index()

In [221]:
grouped_by_pcat

         user_id  parent_category_id  count
0             51                  90    134
1             51                  84    123
2             51                  20    101
3             51                  35     76
4             51                  56     42
...          ...                 ...    ...
2139705  3142820                 243      1
2139706  3142875                 345     10
2139707  3142875                   9      1
2139708  3142875                  20      1
2139709  3142875                 221      1

[2139710 rows x 3 columns]

In [272]:
for row in tmp_df[["parent_category_id", "count"]].itertuples():
    print(row.parent_category_id)

90
84
20
35
56
74
191
9
94
175
112

In [265]:
for row in tmp_df[["parent_category_id", "count"]].itertuples():
    print(row[1]["count"])

12
11
9
6
3
3
2
2
2
2
2

In [278]:
res = []
for row in tmp_df[["parent_category_id", "count"]].itertuples():
    res.extend(grouped_by_pcat_prod.loc[row.parent_category_id].index[:row.count])    
res

[709,
 3497419,
 63072,
 3817542,
 100789,
 5469736,
 10095,
 100812,
 3302524,
 95359,
 6005364,
 105764,
 55133,
 55134,
 5469728,
 3817484,
 5479511,
 69669,
 3817489,
 72875,
 3497570,
 94333,
 73725,
 39590,
 166,
 158,
 165,
 176,
 39591,
 9959,
 100,
 225,
 14564,
 14630,
 304,
 399,
 26751,
 18887,
 21904,
 96306,
 67499,
 2544,
 66893,
 10016,
 79129,
 25157,
 1300,
 67694,
 93798,
 36827,
 30161,
 29988,
 5483205,
 5540]

In [293]:
GLOBAL_COUNTER = 0
def apply_func(x):
    # x is sub df with columns parent_category_id & count
    # how many items to take from each category
    x["count"] = (x["count"] / x["count"].sum() * 70).astype(int)
    # fill with most `count` from each category 
    res = []
    for row in x.itertuples():
        res.extend(grouped_by_pcat_prod.loc[row.parent_category_id].index[:row.count])
        
    global GLOBAL_COUNTER
    GLOBAL_COUNTER += 1
#     if GLOBAL_COUNTER < 0:        
#         raise ValueError
#     print(res)
    if len(res) < 50:
        print(f"AHTUNG {GLOBAL_COUNTER:06}")
    return " ".join([str(i) for i in res[:50]])
    
new_subm2 = grouped_by_pcat.groupby('user_id')[["parent_category_id", "count"]].apply(apply_func).reset_index()

AHTUNG 000159
AHTUNG 000231
AHTUNG 000319
AHTUNG 000617
AHTUNG 000772
AHTUNG 000792
AHTUNG 001120
AHTUNG 001141
AHTUNG 001339
AHTUNG 001496
AHTUNG 001666
AHTUNG 001711
AHTUNG 001733
AHTUNG 002233
AHTUNG 002267
AHTUNG 002528
AHTUNG 003258
AHTUNG 004417
AHTUNG 004891
AHTUNG 004912
AHTUNG 005006
AHTUNG 005040
AHTUNG 005199
AHTUNG 005388
AHTUNG 005499
AHTUNG 005733
AHTUNG 005755
AHTUNG 005830
AHTUNG 006008
AHTUNG 006375
AHTUNG 006506
AHTUNG 006660
AHTUNG 007081
AHTUNG 007264
AHTUNG 007750
AHTUNG 008120
AHTUNG 008127
AHTUNG 008140
AHTUNG 008558
AHTUNG 008621
AHTUNG 009073
AHTUNG 010016
AHTUNG 010099
AHTUNG 010148
AHTUNG 010234
AHTUNG 011048
AHTUNG 011364
AHTUNG 011790
AHTUNG 012248
AHTUNG 012283
AHTUNG 012318
AHTUNG 012373
AHTUNG 012749
AHTUNG 012777
AHTUNG 013066
AHTUNG 013284
AHTUNG 013920
AHTUNG 014080
AHTUNG 014814
AHTUNG 015050
AHTUNG 015239
AHTUNG 015307
AHTUNG 015664
AHTUNG 015872
AHTUNG 016014
AHTUNG 016282
AHTUNG 016284
AHTUNG 016543
AHTUNG 016638
AHTUNG 016978
AHTUNG 017265
AHTUNG 017636
AHTUNG 017735
AHTUNG 017804
AHTUNG 017892
AHTUNG 018505
AHTUNG 018531
AHTUNG 018582
AHTUNG 018656
AHTUNG 019058
AHTUNG 019391
AHTUNG 019727
AHTUNG 019743
AHTUNG 020305
AHTUNG 020432
AHTUNG 020691
AHTUNG 020728
AHTUNG 020767
AHTUNG 021044
AHTUNG 021234
AHTUNG 021344
AHTUNG 021401
AHTUNG 021574
AHTUNG 021725
AHTUNG 021880
AHTUNG 022308
AHTUNG 022713
AHTUNG 022916
AHTUNG 022935
AHTUNG 023118
AHTUNG 023212
AHTUNG 023426
AHTUNG 023759
AHTUNG 023989
AHTUNG 024031
AHTUNG 024360
AHTUNG 024504
AHTUNG 024509
AHTUNG 024900
AHTUNG 024952
AHTUNG 025109
AHTUNG 025281
AHTUNG 025303
AHTUNG 025312
AHTUNG 025411
AHTUNG 025601
AHTUNG 026294
AHTUNG 026307
AHTUNG 026410
AHTUNG 026748
AHTUNG 026784
AHTUNG 027992
AHTUNG 028272
AHTUNG 028390
AHTUNG 029084
AHTUNG 029342
AHTUNG 029472
AHTUNG 029556
AHTUNG 029564
AHTUNG 029614
AHTUNG 030313
AHTUNG 030345
AHTUNG 030529
AHTUNG 030601
AHTUNG 030643
AHTUNG 030862
AHTUNG 031080
AHTUNG 031086
AHTUNG 031302
AHTUNG 031546
AHTUNG 031611
AHTUNG 031795
AHTUNG 031980
AHTUNG 032014
AHTUNG 032118
AHTUNG 032301
AHTUNG 032705
AHTUNG 032802
AHTUNG 033313
AHTUNG 033432
AHTUNG 033659
AHTUNG 033710
AHTUNG 034072
AHTUNG 034233
AHTUNG 034592
AHTUNG 034705
AHTUNG 034863
AHTUNG 035145
AHTUNG 035375
AHTUNG 035617
AHTUNG 036024
AHTUNG 036791
AHTUNG 036900
AHTUNG 037197
AHTUNG 037628
AHTUNG 038104
AHTUNG 038214
AHTUNG 038252
AHTUNG 038354
AHTUNG 038748
AHTUNG 038969
AHTUNG 039294
AHTUNG 039321
AHTUNG 039918
AHTUNG 039963
AHTUNG 040013
AHTUNG 040466
AHTUNG 040989
AHTUNG 041223
AHTUNG 041721
AHTUNG 041860
AHTUNG 041872
AHTUNG 042455
AHTUNG 042555
AHTUNG 042978
AHTUNG 043470
AHTUNG 043655
AHTUNG 043670
AHTUNG 043695
AHTUNG 043883
AHTUNG 043989
AHTUNG 044085
AHTUNG 044343
AHTUNG 044442
AHTUNG 044582
AHTUNG 044746
AHTUNG 045409
AHTUNG 046142
AHTUNG 046215
AHTUNG 046323
AHTUNG 046385
AHTUNG 046386
AHTUNG 046434
AHTUNG 046517
AHTUNG 046622
AHTUNG 047287
AHTUNG 047319
AHTUNG 047571
AHTUNG 047663
AHTUNG 047847
AHTUNG 048039
AHTUNG 048627
AHTUNG 049531
AHTUNG 049834
AHTUNG 049969
AHTUNG 050011
AHTUNG 050063
AHTUNG 050091
AHTUNG 050311
AHTUNG 051068
AHTUNG 051353
AHTUNG 051569
AHTUNG 052130
AHTUNG 052475
AHTUNG 052643
AHTUNG 052918
AHTUNG 053343
AHTUNG 053388
AHTUNG 053770
AHTUNG 053783
AHTUNG 053926
AHTUNG 054087
AHTUNG 054090
AHTUNG 054278
AHTUNG 054732
AHTUNG 055014
AHTUNG 055040
AHTUNG 055064
AHTUNG 055341
AHTUNG 055980
AHTUNG 056167
AHTUNG 056528
AHTUNG 057044
AHTUNG 058467
AHTUNG 058757
AHTUNG 058947
AHTUNG 059016
AHTUNG 059060
AHTUNG 059203
AHTUNG 059455
AHTUNG 059695
AHTUNG 060023
AHTUNG 061128
AHTUNG 061223
AHTUNG 062107
AHTUNG 062253
AHTUNG 062403
AHTUNG 062658
AHTUNG 062662
AHTUNG 062705
AHTUNG 063050
AHTUNG 063326
AHTUNG 063399
AHTUNG 063539
AHTUNG 063572
AHTUNG 063706
AHTUNG 063730
AHTUNG 063968
AHTUNG 064105
AHTUNG 064154
AHTUNG 064367
AHTUNG 064392
AHTUNG 064481
AHTUNG 064516
AHTUNG 065156
AHTUNG 065230
AHTUNG 065597
AHTUNG 065788
AHTUNG 067105
AHTUNG 067510
AHTUNG 067691
AHTUNG 067844
AHTUNG 067948
AHTUNG 068355
AHTUNG 068538
AHTUNG 069484
AHTUNG 070161
AHTUNG 070779
AHTUNG 071203
AHTUNG 072038
AHTUNG 072360
AHTUNG 073080
AHTUNG 073099
AHTUNG 073733
AHTUNG 074151
AHTUNG 074545
AHTUNG 074717
AHTUNG 075872
AHTUNG 076595
AHTUNG 076695
AHTUNG 077590
AHTUNG 077803
AHTUNG 079073
AHTUNG 079645
AHTUNG 080257
AHTUNG 080535
AHTUNG 080720
AHTUNG 080851
AHTUNG 081142
AHTUNG 081503
AHTUNG 082685
AHTUNG 083314
AHTUNG 083429
AHTUNG 083553
AHTUNG 083842
AHTUNG 084342
AHTUNG 084952
AHTUNG 084986
AHTUNG 085827
AHTUNG 086019
AHTUNG 086745
AHTUNG 087442
AHTUNG 087710
AHTUNG 087943
AHTUNG 088607
AHTUNG 089171
AHTUNG 089206
AHTUNG 089265
AHTUNG 089653
AHTUNG 090076
AHTUNG 090135
AHTUNG 090970
AHTUNG 091851
AHTUNG 092469
AHTUNG 093542
AHTUNG 093653
AHTUNG 094002
AHTUNG 094436
AHTUNG 095015
AHTUNG 096183
AHTUNG 098847
AHTUNG 098872
AHTUNG 098882
AHTUNG 100275
AHTUNG 100517
AHTUNG 100679
AHTUNG 101282
AHTUNG 102390
AHTUNG 102945
AHTUNG 104363
AHTUNG 104433
AHTUNG 104849
AHTUNG 106155

In [296]:
new_subm2.columns = ["id", "Predicted"]
new_subm2.to_csv("subm_most_popular_per_user_category.csv", index=False)

In [286]:
tmp_df = grouped_by_pcat[grouped_by_pcat.user_id == 51].loc[:10]
# если ставить 50, то сумма будет меньше 50 из-за округления, поэтому 60 
tmp_df["count"] = (tmp_df["count"] / tmp_df["count"].sum() * 60).astype(int)
tmp_df
# grouped_by_pcat[grouped_by_pcat.user_id == 51].cou

    user_id  parent_category_id  count
0        51                  90     12
1        51                  84     11
2        51                  20      9
3        51                  35      6
4        51                  56      3
5        51                  74      3
6        51                 191      2
7        51                   9      2
8        51                  94      2
9        51                 175      2
10       51                 112      2

In [115]:
# most popular products by category
small_df = generated_df
small_df['count'] = 1
df_agg = small_df.groupby(["user_id", "product_id"]).agg({'count':sum})
g = df_agg['count'].groupby(level=0, group_keys=False)
grouped_by_id = g.nlargest(50)
grouped_by_id = grouped_by_id.reset_index()

In [222]:
grouped_by_id

         user_id  product_id  count
0             51       14863     16
1             51       19562     13
2             51       63057     13
3             51     3562687     12
4             51         709     11
...          ...         ...    ...
4489766  3142875     5044950      1
4489767  3142875     5044951      1
4489768  3142875     5075130      1
4489769  3142875     5075131      1
4489770  3142875     7043716      1

[4489771 rows x 3 columns]

In [169]:
GLOBAL_COUNTER = 0
def apply_func(x):
    user_values = [str(i) for i in x.values]
    if len(user_values) < 50:
        global GLOBAL_COUNTER
        GLOBAL_COUNTER += 1
    # pad with most popular in general
    user_values += most_popular[len(user_values):]
    return " ".join(user_values)
new_subm = grouped_by_id.groupby('user_id')['product_id'].apply(apply_func).reset_index()

In [174]:
new_subm.columns = ["id", "Predicted"]
new_subm.to_csv("subm_most_popular_per_user_plus_fill.csv", index=False)

In [44]:
subm.to_csv("subm_most_popular.csv", index=False)

In [ ]:
subm = pd.read_csv("data/sample_submission.csv")

In [188]:
generated_df[generated_df.user_id == 300576].master_category_id.value_counts()[:10]

600    881
61     697
21     478
630    393
598    226
582    200
76     190
96     187
132    185
95     161
Name: master_category_id, dtype: int64

In [189]:
generated_df[generated_df.user_id == 308975].master_category_id.value_counts()[:10]

596    668
36     433
49     414
600    337
91     273
34     220
62     187
61     146
85     138
39     133
Name: master_category_id, dtype: int64

In [3]:
generated_df

,order_id,user_id,line_item_id,price,quantity,discount,product_id,brand_name,master_category_id,parent_category_id,order_created_time,retailer,platform,city_name,gender,bdate,age
0,139128,1050,97633689,236.89,1,0.0,5045454,3573,122,119,-1,-1,-1,-1,-1,-1,-1
1,139128,1050,97633791,178.16,1,0.0,73719,5154,122,119,-1,-1,-1,-1,-1,-1,-1
2,139128,1050,97635201,173.28,1,0.0,7000939,2846,85,84,-1,-1,-1,-1,-1,-1,-1
3,139128,1050,97635312,73.69,1,0.0,7386015,3342,85,84,-1,-1,-1,-1,-1,-1,-1
4,139128,1050,97635414,282.14,1,0.0,73291,2846,85,84,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21677065,16831178,2418239,173272147,73.69,2,0.0,6782753,4023,596,51,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677066,16831178,2418239,173272148,105.19,1,0.0,7014966,4023,642,99,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677067,16831178,2418239,173272149,109.89,1,42.8,101253,1427,610,19,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677068,16831178,2418239,173272150,154.99,1,165.0,5629995,286,643,99,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22
21677069,16831178,2418239,173272175,154.99,1,165.0,5629993,286,643,99,2020-09-16 22:57:36,32,0,72,1,1997-11-08 00:00:00,22